In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder, OneHotEncoder  
import statsmodels.formula.api as sm

In [19]:
data=pd.read_csv("Datasets/50_Startups.csv")
data.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [20]:
X=data.iloc[:,:4].values
Y=data.iloc[:,4].values
# print(X,Y)

In [21]:
from sklearn.compose import ColumnTransformer
LE=LabelEncoder()
X[:,3]=LE.fit_transform(X[:,3])
onehotencoder= ColumnTransformer([("State", OneHotEncoder(), [0])])    
X=onehotencoder.fit_transform(X)

0.0

In [22]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.7,random_state=1)
X_train
Y_train

array([ 71498.49,  14681.4 , 105733.54, 110352.25, 134307.35,  77798.83,
       125370.37,  64926.08, 108552.04, 108733.99, 166187.94,  96778.92,
       132602.65,  99937.59, 146121.95, 103282.38,  65200.33,  96712.8 ,
       124266.9 , 118474.03, 107404.34, 156122.51, 155752.6 ,  42559.73,
       191792.06, 126992.93, 192261.83, 129917.04, 156991.12, 144259.4 ,
       149759.96, 152211.77, 141585.52,  69758.98,  89949.14])

In [23]:
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
Y_pred=model.predict(X_test)
print(Y_pred[3],Y_test[3])

119124.06455882353 81229.06

In [25]:
print(model.score(X_train,Y_train))
print(model.score(X_test,Y_test))

0.9927260810012183
-0.1968794680739674